<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% end %}</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body class="{% block body_class %}{% end %}">
{% block body %}
    {% module BootstrapBase() %}
    <style>{% block css %}{% end %}</style>
    {% block content %}
    {% end %}
    {% block javascript_library %}
    <script src="/static/js/main.js"></script>
    {{% block javascript %}{% end %}
{% end %}
</body>
</html>